@model IEnumerable<Eventeaze.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="Index" method="get">
<div class="form-group">
<input type="text" name="Search" class="form-control"    
</div>
<button type="submit" class="btn btn-primary mt-2">Search</button>
</form>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["SuccessMessage"]
    </div>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue.VenueName)
)            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
                </td>
                <td> @Html.DisplayFor(modelItem =>item.Event.EventName)</td>
              
            <td>
                @Html.DisplayFor(modelItem => item.VenueId)
            </td>
                <td> @Html.DisplayFor(modelItem =>item.Venue.VenueName)</td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
